<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
		<title>Games</title>
		<script src="https://code.jquery.com/jquery.js"></script>
        <link rel="stylesheet" href="../assets/stylesheets/bootstrap.min.css"></script>
		<link rel="stylesheet" href="../assets/stylesheets/style.css" type="text/css" />
		<script src=".server.js"></script>
	</head>
	<body>
		{{{ body }}}
	</body>
</html>