form.signup,
form.login {
  margin-top: 50px;
}
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  /* End of straight borrowed from W3 Schools. -sam w */
  
  
  
  groups {
      background-color: #2fff00b0; 
      display: inline
  }
  
  members {
      background-color: #ff000070; 
      display: inline
  }
  
  picks {
      background-color: #0000ff99; 
      display: inline
  }
  
  results {
      background-color: #ff9d00b0; 
      display: inline
  }

#members-page-body-tag {
  background-color: aquamarine;
  /* background-image: url("../img/backgroundAllTeams.jpg");
  background-size: cover;
  background-repeat: repeat;  */
}

#jumbotron-members {
  padding-top: 32px;
  padding-bottom: 32px;
}

#body-box-members {
  background-color: azure;
}

#tempWelcomeHTMLPage {
  background-color: aquamarine;
  background-image: url("../img/backgroundAllTeams.jpg");
  background-size: cover;
  background-repeat: repeat;
  /* background-blend-mode: hard-light; */
}