<body><div id="groups-whole-page">
   <div class="jumbotron" id="jumbotron-members">    
  <ul class="nav justify-content-end">
    {{!-- <div class="container-fluid"> --}}
      {{!-- <div class="navbar-header"> --}}
        <li class="nav-item"><a class="nav-link active" id="logout" href="/logout">Logout</a></li>
      {{!-- </div> --}}
    {{!-- </div> --}}
  </ul>
  {{!-- The click listener on this doesn't work when it's in the nav above for some reason? --}}
  <span id="settingsLink">Settings</span>
    
</div>
 
   <h1 class="offset-1">CREATE A NEW LEAGUE!</h1>
  </div>

{{!-- for now I'm borrowing the same ID tag used on the members page to get a similar look. -sam --}}
<div class="col-10 offset-1" id="body-box-members">
  <div class="container">
     
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          {{!-- <div> --}}
            <label for="InputGroupName">Enter the name of your new league.</label><br>
            <input type="test" id="group-input" placeholder="Group Name"></input><br>
          {{!-- </div> --}}

           <button id="newGroupBtn" class="btn btn-primary" style="margin-top: 8px;">Create League</button>

          <div id="added-groups">
            {{#each name}}
              {{this}}
            {{/each}}
          </div>
           
          
          
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
         
        <br />
        <p>Or return to members page <a href="/login">here</a></p>
      </div>
    </div>
  </div>
</div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/groups.js"></script>

</div></body>
