<body><div class="general-whole-page" id="groups-whole-page">
   <div class="jumbotron general-jumbotron" id="groups-jumbotron">
     <div class="d-flex flex-wrap-reverse">
   
<!--Navbar-->
<nav class="navbar black mb-4 col-10 offset-1 sam-style-navbar">
  <!-- Navbar brand -->
  <a class="navbar-brand justify-content-start" href="#" style="visibility: hidden; width: 1px"></a>

<!-- had to move the welcome-header here so that it wrapped in the center of the page correctly as the screen size changed -sam -->
<h1 id="welcome-header" class="ml-auto">XFL Pick'Em</h1>

  <!-- Collapse button -->
  <button class="navbar-toggler second-button sam-style-navbar-button d-flex ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23"
    aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent23">
    {{!-- This div added to move the drop down menu items down by 15px to clear the wecome-header comfortabley -Sam --}}
    <div style="visibility: hidden; height: 15px; "></div>
    <!-- Links -->
    <ul class="navbar-nav text-right">
      <li class="nav-item active justify-content-end">
        <a class="nav-link sam-navbar-link" href="/login">Members Page (Home)
        <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active sam-navbar-link" id="settingsLink"  href="/group-settings">Settings</a></li>
      </li>
      <li class="nav-item">
        <a class="nav-link active sam-navbar-link" id="logout"  href="/logout">Logout</a></li>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar-->
</div>
 </div>{{!-- this is the end of the Jumbotron -Sam --}}

<div class="col-10 offset-1 general-body-box" id="groups-body-box">
  <div class="container">
     
<div class="row"><h1>Make a new league:</h1></div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          {{!-- <div> --}}
            <label for="InputGroupName">Enter the name of your new league.</label><br>
            <input type="test" id="group-input" placeholder="Group Name"></input><br>
          {{!-- </div> --}}

           <button id="newGroupBtn" class="btn btn-primary" style="margin-top: 8px;">Create League</button>

          <div id="added-groups">
            {{#each name}}
              {{this}}
            {{/each}}
          </div>
           
          
          
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
         
        <br />
        {{!-- Because I finally got that Nav bar working, I don't think we need this link in the middle of the page any longer. -sam --}}
        {{!-- <p>Or return to members page <a href="/login">here</a></p> --}}
      </div>
    </div>
  </div>
</div>
<div class="general-bottom-spacer"></div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/groups.js"></script>

</div></body>
