<body>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
      </div>
    </div>
  </nav>
  <div class="container">
      <h1>CREATE A NEW LEAGUE!</h1>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
          <div>
            <label for="InputGroupName">Enter the name of your new league.</label>
            <input type="test" id="group-input" placeholder="Group Name"></input>
          </div>

           <button id="newGroupBtn" class="btn btn-primary">Create League</button>

          <div id="added-groups">
            {{#each name}}
              {{this}}
            {{/each}}
          </div>
           
          
          
          <div style="display: none" id="alert" class="alert alert-danger" role="alert">
            <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
            <span class="sr-only">Error:</span> <span class="msg"></span>
          </div>
         
        <br />
        <p>Or return to members page <a href="/login">here</a></p>
      </div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="./assets/js/groups.js"></script>

</body>
