<body><div class="general-whole-page">
    <div class="jumbotron general-jumbotron" id="league-jumbotron">  
        <div class="d-flex flex-wrap-reverse">  
<h1 id="welcome-header">Do we want to add something here? -Sam</h1>
<!--Navbar-->
<nav class="navbar black mb-4 col-10 offset-1 sam-style-navbar">
  <!-- Navbar brand -->
  <a class="navbar-brand" href="#" style="visibility: hidden;"></a>
  <!-- Collapse button -->
  <button class="navbar-toggler second-button sam-style-navbar-button" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23"
    aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent23">
    {{!-- This div added to move the drop down menu items down by 15px to clear the wecome-header comfortabley -Sam --}}
    <div style="visibility: hidden; height: 15px; "></div>
    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active justify-content-end">
        <a class="nav-link sam-navbar-link" href="/login">Members Page (Home)
        <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active sam-navbar-link" id="settingsLink"  href="/group-settings">Settings</a></li>
      </li>
      <li class="nav-item">
        <a class="nav-link active sam-navbar-link" id="logout"  href="/logout">Logout</a></li>
      </li>
    </ul>
  </div>
</nav>
</div>  <!--/.Navbar-->
</div>  <!-- End of Jumbotron -->

<div class="container general-body-box">
    <div class="row d-flex justify-content-center">
    <div class="row">
        <h2>Welcome, </h2>
        <h2 value="{{groupID}}" id="groupTitle"></h2>
    </div>
    <div class ="row d-flex justify-content-center">
        <h3>Season Scores</h3>
    </div>
    <div class="row" id="memberScoreList">
        <div class="col-12 col-md-8 offset-md-2 d-flex justify-content-center">
            <table class="table table-bordered">
                
            <thead>
                <tr>
                <th scope="col">Member</th>
                <th scope="col">Total Score</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
            </table>
        </div>
    </div>
    <div class="row d-flex justify-content-center">
        <h3>Correct Picks By Week</h3>
    </div>
    <div class="row" id="memberScoresByWeek">
        <div class="col-12 col-md-8 offset-md-2 d-flex justify-content-center">

            <table class="table table-bordered">
            <thead>
                <tr>
                <th scope="col">Member</th>
                <th scope="col">Week 1</th>
                <th scope="col">Week 2</th>
                <th scope="col">Week 3</th>
                <th scope="col">Week 4</th>
                <th scope="col">Week 5</th>
                <th scope="col">Week 6</th>
                <th scope="col">Week 7</th>
                <th scope="col">Week 8</th>
                <th scope="col">Week 9</th>
                <th scope="col">Week 10</th>
                </tr>
            </thead>
            <tbody id="weeklyTableBody">
            </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <button id="makePicks-btn" class="btn btn-primary" value="{{groupID}}">Make Picks!</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 mt-100">
            <h4>Enter the user's email address to add a member to this group</h4>
        </div>
        <div class="col-12 col-md-8">
            <input type="text" id="newMember-input">
        </div>
        <div class="col-12 col-md-8">
            <button id="addMember-btn" class="btn btn-primary">Add Members</button>
        </div>
        </div>
    </div>
</div>
<div class="general-bottom-spacer"></div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/league.js"></script>
</div>
</body>
