<body>
<div class="container">
    <div class="row">
        <h2>Welcome, </h2>
        <h2 value="{{groupID}}" id="groupTitle"></h2>
    </div>
    <div class="row" id="memberScoreList">
        <div class="col-12 col-md-8 offset-md-2">
            <table class="table table-bordered">
                
            <thead>
                <tr>
                <th scope="col">Member</th>
                <th scope="col">Total Score</th>
                </tr>
            </thead>
            <tbody id="tableBody">
            </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <button id="makePicks-btn" class="btn btn-primary" value="{{groupID}}">Make Picks!</button>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-8 mt-100">
            <h4>Enter the user's email address to add a member to this group</h4>
        </div>
        <div class="col-12 col-md-8">
            <input type="text" id="newMember-input">
        </div>
        <div class="col-12 col-md-8">
            <button id="addMember-btn" class="btn btn-primary">Add Members</button>
        </div>
        </div>
    </div>
</div>





    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="../assets/js/league.js"></script>
</body>
