<body><div id="members-whole-page" class="general-whole-page">

<div class="jumbotron general-jumbotron"> 
  <div class="d-flex flex-wrap-reverse">

<!--Navbar-->
<nav class="navbar black mb-4 col-10 offset-1 sam-style-navbar">
  <!-- Navbar brand -->
  <a class="navbar-brand justify-content-start" href="#" style="visibility: hidden; width: 1px"></a>

<h1 id="welcome-header" class="ml-auto">XFL Pick'Em</h1>

  <!-- Collapse button -->
  <button class="navbar-toggler second-button sam-style-navbar-button d-flex ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent23"
    aria-controls="navbarSupportedContent23" aria-expanded="false" aria-label="Toggle navigation">
    <div class="animated-icon2"><span></span><span></span><span></span><span></span></div>
  </button>
  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent23">
    {{!-- This div added to move the drop down menu items down by 15px to clear the wecome-header comfortabley -Sam --}}
    <div style="visibility: hidden; height: 15px; "></div>
    <!-- Links -->
    <ul class="navbar-nav text-right">
      <li class="nav-item active justify-content-end">
        <a class="nav-link sam-navbar-link" id="membersLink" href="#">Members Page (Home)
        <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link active sam-navbar-link" id="settingsLink"  href="#">Settings</a></li>
      </li>
      <li class="nav-item">
        <a class="nav-link active sam-navbar-link" id="logout"  href="/logout">Logout</a></li>
      </li>
    </ul>
  </div>
</nav>
<!--/.Navbar-->
</div>
</div>{{!-- End of Jumbotron --}}

<div class="col-10 offset-1" id="body-box-members"> 
  {{!--note to self for making this div quickly:  .col-10.offset-1#body-box-members --}}

    <div id="group-info">

      <div class="container">
        <div class="row"><h1 id="welcome-header" class="mx-auto">Welcome, {{  displayname}}!</h1></div>
        <div class="row">
          {{#each groups}}
          <div class="col-md-4 col-12">
            <div class="card">
                <div class="card-body">
                  <h5 class="card-title">{{this.[0]}}</h5>
                  <button class="btn btn-primary league-btn btn-sm" data-id="{{this.[1]}}" data-name="{{this.[0]}}">View League</button>
                </div>
              </div>
            </div>
            {{/each}}
        </div>
      </div>
 
      <h1 class="group-name"></h1>


    </div>

    <div>
      <button id="newGroup-btn" class="btn btn-primary">Click Here to Create a new League!</button>
    </div>

<!-- This div below was meant to have the table where you show the high scores throughout the entire database so you can compare yourself to everyone else playing, whether or not they are in your league. -->
<!--  <div id="allMembersResults"></div>  -->


    <div id="allMembersResults"></div>
</div>
<div id="bottom-spacer"></div>
</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/members.js"></script>
</div></body>