<body><div id="members-whole-page">

<div class="jumbotron" id="jumbotron-members"> 
<h1 id="welcome-header">Welcome, {{  displayname}}!</h1>
  <ul class="nav justify-content-end">
    {{!-- <div class="container-fluid"> --}}
      {{!-- <div class="navbar-header"> --}}
        <li class="nav-item"><a class="nav-link active" id="logout"  href="/logout">Logout</a></li>
      {{!-- </div> --}}
    {{!-- </div> --}}
  </ul>
  {{!-- The click listener on this doesn't work when it's in the nav above for some reason? --}}
  <span id="settingsLink">Settings</span>
    
</div>
  

<div class="col-10 offset-1" id="body-box-members"> 
  {{!-- .col-10.offset-1#body-box-members --}}

<button  id="settingsLink2" class="btn btn-primary">settings</button></li>
    <div id="group-info">
      {{#each groups}}
      <h1 class="group-name">{{this.[0]}}</h1>
      <button class="btn btn-primary league-btn" data-id="{{this.[1]}}" data-name="{{this.[0]}}">View League</button>
      {{/each}}
    </div>

    <div>
      <button id="newGroup-btn" class="btn btn-primary">Click Here to Create a new League!</button>
    </div>



    <div id="allMembersResults"></div>


    <br><button style="font-size: larger;"> <a href="./TempLogin.html">go back to login page</a></button>
</div>
<div id="bottom-spacer"></div>
</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/members.js"></script>
</div></body>