<body><div id="members-whole-page">


<div class="jumbotron" id="jumbotron-members">    
    <h1 id="header">Settings</h1>
  <ul class="nav justify-content-end">
    {{!-- <div class="container-fluid"> --}}
      {{!-- <div class="navbar-header"> --}}
        <li class="nav-item"><a class="nav-link active" href="/logout">Logout</a></li>
      {{!-- </div> --}}
    {{!-- </div> --}}
  </ul>
    
</div>
<div class="col-10 offset-1" id="body-box-members"> 
  {{!-- .col-10.offset-1#body-box-members --}}


    <div id="group-info">
      {{#each groups}}
      <h1 class="group-name">{{this.[0]}}</h1>
      <button class="btn btn-primary league-btn" data-id="{{this.[1]}}" data-name="{{this.[0]}}">View League</button>
      {{/each}}
    </div>



    <div id="allMembersResults"></div>

</div>
<div id="bottom-spacer"></div>
</div>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script type="text/javascript" src="/assets/js/settings.js"></script>
</div></body>